doctype html
html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        title='Sudoku'
        link(rel='stylesheet', type='text/css' href='style.css')
    body
        h1='Sudoku'
        table(id='board', class='board')
            tbody
        script(src='bundle.js', type='text/javascript')
