doctype html
html(lang='en')
    head
        title='Sudoku'
        link(rel='stylesheet', type='text/css' href='style.css')
    body
        h1='Sudoku'
        table(id='board', class='board')
            tbody
        script(src='bundle.js', type='text/javascript')
